<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--设置日志-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.atguigu.curd.bean"/>
    </typeAliases>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
<!--            调整分页合理化-->
            <property name="reasonable" value="true"/>
<!--            <property name="dialect" value="com.github.pagehelper.PageHelper"/>-->
        </plugin>
    </plugins>

    <!--    <environments default="development">-->
<!--        <environment id="development">-->
<!--            <transactionManager type="JDBC"/>-->
<!--            &lt;!&ndash;配置数据源:创建Connection对象，&ndash;&gt;-->
<!--            <dataSource type="POOLED">-->
<!--                &lt;!&ndash;数据库驱动&ndash;&gt;-->
<!--                <property name="driver" value="com.mysql.jdbc.Driver"/>-->
<!--                &lt;!&ndash;连接数据库的url&ndash;&gt;-->
<!--                <property name="url"-->
<!--                          value="jdbc:mysql://localhost:3306/ssm_crud?useUnicode=true&amp;characterEncoding=utf-8"/>-->
<!--                <property name="username" value="root"/>-->
<!--                <property name="password" value="wad0130ll"/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->
<!--    <mappers>-->
<!--        &lt;!&ndash;-->
<!--        使用mapper的resource属性指定mapper文件的路径-->
<!--        这个路径是由target/classes路径开启的-->
<!--        使用注意：-->
<!--        resource="mapper文件的路径，使用”/"分割路径-->
<!--        一个mapper resource指定一个mapper文件-->
<!--        &ndash;&gt;-->
<!--        <mapper resource=""/>-->
<!--    </mappers>-->
</configuration>